server:
  port: 8082

spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/llm-openai-gemini-compare



  cloud:
    gateway:
      default-filters:
        # keeps original host + headers
        - PreserveHostHeader
      routes:
        - id: llm-orchestrator
          uri: http://localhost:8081
          predicates:
            - Path=/v1/compare/**
          filters:
            # safest rewrite (handles /v1/compare and /v1/compare/anything)
            - RewritePath=/v1/compare(?<segment>/?.*), /compare${segment}

        - id: llm-orchestrator-actuator
          uri: http://localhost:8081
          predicates:
            - Path=/actuator/llm-orchestrator/**
          filters:
            - RewritePath=/actuator/llm-orchestrator/(?<segment>.*), /actuator/${segment}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

