server:
  port: 8082

spring:
  application:
    name: api-gateway


  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      routes:
        - id: compare-route
          uri: http://localhost:8081
          predicates:
            - Path=/v1/compare
          filters:
            - RewritePath=/v1/compare, /internal/compare

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
