server:
  port: 8082

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/llm-openai-gemini-compare

      client:
        registration:
          orchestrator-s2s:
            provider: keycloak
            client-id: api-gateway-service
            client-secret: ${ORCHESTRATOR_S2S_CLIENT_SECRET
            authorization-grant-type: client_credentials
            client-authentication-method: client_secret_post
        provider:
          keycloak:
            token-uri: http://localhost:8090/realms/llm-openai-gemini-compare/protocol/openid-connect/token



  cloud:
    gateway:
      default-filters:
        # keeps original host + headers
        - PreserveHostHeader
      routes:
        - id: llm-orchestrator
          uri: http://localhost:8081
          predicates:
            - Path=/v1/compare/**
          filters:
            - ServiceTokenRelay
            - RewritePath=/v1/compare, /compare

        - id: llm-orchestrator-actuator
          uri: http://localhost:8081
          predicates:
            - Path=/actuator/llm-orchestrator/**
          filters:
            - RewritePath=/actuator/llm-orchestrator/(?<segment>.*), /actuator/${segment}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

